In [1]:
import pandas as pd
import numpy as np

In [8]:
df=pd.read_csv('laptop_data1.csv',sep=',')

In [9]:
df

     ,Company,TypeName,Inches,ScreenResolution,Cpu,Ram,Memory,Gpu,OpSys,Weight,Price
0     0,Apple,Ultrabook,13.3,IPS Panel Retina Displa...
1     1,Apple,Ultrabook,13.3,1440x900,Intel Core i5 ...
2     2,HP,Notebook,15.6,Full HD 1920x1080,Intel Cor...
3     3,Apple,Ultrabook,15.4,IPS Panel Retina Displa...
4     4,Apple,Ultrabook,13.3,IPS Panel Retina Displa...
...                                                 ...
1298  1298,Lenovo,2 in 1 Convertible,14.0,IPS Panel ...
1299  1299,Lenovo,2 in 1 Convertible,13.3,IPS Panel ...
1300  1300,Lenovo,Notebook,14.0,1366x768,Intel Celer...
1301  1301,HP,Notebook,15.6,1366x768,Intel Core i7 6...
1302  1302,Asus,Notebook,15.6,1366x768,Intel Celeron...

[1303 rows x 1 columns]